<nav class="navbar navbar-light bg-light">
  <div class="container-fluid justify-content-center">
    <%= form_with(url: path_url, id: "search_#{search_model}", method: :get, class:"d-flex") do |f| %>
      <%= f.label :query, "Buscar", class:"mr-4" %>
      <%= f.search_field :query , placeholder: placeholder, class:"form-control mr-3"  %>
      <%= f.submit t('buttons.search_button'), class:"btn btn-outline-success" %>
    <% end %>
  </div>
</nav>

<% if @search_coupon.present? %>
  <div id="search_coupon">
    <% if @search_coupon.kind_of?(String) %>
      <div class="alert alert-warning mb-5" role="alert">
        <%= @search_coupon %>
      </div>
    <% else %>
      <div class="alert alert-info mb-5" role="alert">

        <%= "#{@search_coupon.code} (#{ Coupon.human_attribute_name("status.#{@search_coupon.status}") })" %>

        <% if @search_coupon.active? %>
          <span>
            <%= link_to t('buttons.disable_status'), disable_coupon_path(@search_coupon), method: :post %>
          </span>
        <% else %>
          <span>
            <%= link_to t('buttons.active_status'), enable_coupon_path(@search_coupon), method: :post %>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
