<% if @promotions.empty? %>
  <p> Nenhuma promoção cadastrada </p>
<% end %>

<% @promotions.each do |promotion| %>
  <dl>
    <dt>Nome:</dt>
    <dd><%= link_to promotion.name, promotion %></dd>

    <dt>Descrição</dt>
    <dd><%= promotion.description %></dd>

    <dt>Desconto</dt>
    <dd><%= number_to_percentage(promotion.discount_rate, separator: ",", precision: 2) %></dd>
  </dl>
  <%= link_to "Editar Promoção", edit_promotion_path(promotion) %>
  <%= link_to 'Deletar Promoção', promotion, method: :delete,
      data: { confirm: 'tem certeza?' } %>

<% end %>

<%= link_to "Registrar uma promoção", new_promotion_path %>
<%= link_to "Voltar", root_path %>
