<% if @promotions.empty? %>
  <p> <%= t('.promotions_empty') %> </p>
<% end %>

<%= render 'search' %>

<!-- Lista de Promoções -->

<div id="list_promotions" class="tables_standard" >
  <table class="table table-hover"
         data-toggle="table"
         data-search="true"
         data-strict-search="true" >

    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Desconto</th>
        <th colspan="2" style="background-color: gray;"></th>
      </tr>
    </thead>

    <tbody>
      <% @promotions.each.with_index(1) do |promotion, index| %>
        <tr id="promotion_<%= index %>">
          <td> <%= link_to promotion.name, promotion_path(promotion) %> </td>
          <td> <%= promotion.description %> </td>
          <td> <%= number_to_percentage(promotion.discount_rate, precision: 2) %> </td>
          <td> <%= link_to t('buttons.update_promotion'), edit_promotion_path(promotion) %> </td>
          <td>
            <%= link_to t('buttons.delete_promotion'),
                        promotion, method: :delete,
                        data: { confirm: t('messages.confirm') } %>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>

<div>
  <%= link_to t('buttons.create_promotion'), new_promotion_path %>
  <%= link_to t('buttons.back'), root_path %>
</div>
