<dl>
  <dt>Nome:</dt>
  <dd><%= @promotion.name %></dd>

  <dt>Descrição</dt>
  <dd><%= @promotion.description %></dd>

  <dt>Desconto:</dt>
  <dd><%= number_to_percentage(@promotion.discount_rate, separator: ",", precision: 2) %></dd>

  <dt>Código:</dt>
  <dd><%= @promotion.code %></dd>

  <dt>Data de Expiração:</dt>
  <dd><%= @promotion.expiration_date.strftime("%d/%m/%Y") %></dd>

  <dt>Quantidade de Coupons:</dt>
  <dd><%= @promotion.coupon_quantity %></dd>
</dl>

<%= link_to "Gerar coupons", generate_coupon_promotion_path(@promotion), method: :post %>

<ul>
  <% @promotion.coupons.each do |coupon| %>
    <li><%= coupon.code %></li>
  <% end %>
</ul>

<%= link_to "Voltar", promotions_path %>
