<dl>
  <dt><%= Promotion.human_attribute_name(:name) %></dt>
  <dd><%= @promotion.name %></dd>

  <dt><%= Promotion.human_attribute_name(:description) %></dt>
  <dd><%= @promotion.description %></dd>

  <dt><%= Promotion.human_attribute_name(:discount_rate) %></dt>
  <dd><%= number_to_percentage(@promotion.discount_rate, separator: ",", precision: 2) %></dd>

  <dt><%= Promotion.human_attribute_name(:code) %></dt>
  <dd><%= @promotion.code %></dd>

  <dt><%= Promotion.human_attribute_name(:expiration_date) %></dt>
  <dd><%= @promotion.expiration_date.strftime("%d/%m/%Y") %></dd>

  <dt><%= Promotion.human_attribute_name(:coupon_quantity) %></dt>
  <dd><%= @promotion.coupon_quantity %></dd>
</dl>

<% if @promotion.coupons.empty? %>
  <%= link_to t('buttons.update_promotion'), edit_promotion_path(@promotion) %>
  <%= link_to t('.generate_coupons'), generate_coupon_promotion_path(@promotion), method: :post %>
<% end %>

<div id="coupons_list">
  <ul>
    <% @promotion.coupons.each do |coupon| %>
      <li id="coupon-<%= coupon.code.parameterize %>">
        <%= "#{coupon.code} #{'(desabilitado)' if coupon.disabled?}" %>
        <% if coupon.active? %>
          <span> <%= link_to 'Desabilitar', disable_coupon_path(coupon), method: :post %> </span>
        <% else %>
          <span> <%= link_to 'Ativar', "#", method: :post %> </span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to t('buttons.back'), promotions_path %>
