<div class="container-fluid show_card">
  <div class="cards">
    <div class="card">
      <div class="contents">
        <div class="container-fluid">

          <div class="row mb-3">
            <h5 class="attribute_camp mr-4">
              <%= Promotion.human_attribute_name(:name) %>:
            </h5>
            <span class="attribute_value">
              <%= @promotion.name %>
            </span>
          </div>

          <div class="row mb-3">
            <h5 class="attribute_camp mr-4">
              <%= Promotion.human_attribute_name(:description) %>:
            </h5>
            <span class="attribute_value">
              <%= @promotion.description %>
            </span>
          </div>

          <div class="row mb-3">
            <h5 class="attribute_camp mr-4">
              <%= Promotion.human_attribute_name(:discount_rate) %>:
            </h5>
            <span class="attribute_value">
              <%= number_to_percentage(@promotion.discount_rate, precision: 2) %>
            </span>
          </div>

          <div class="row mb-3">
            <h5 class="attribute_camp mr-4">
              <%= Promotion.human_attribute_name(:code) %>:
            </h5>
            <span class="attribute_value">
              <%= @promotion.code %>
            </span>
          </div>

          <div class="row mb-3">
            <h5 class="attribute_camp mr-4">
              <%= Promotion.human_attribute_name(:expiration_date) %>:
            </h5>
            <span class="attribute_value">
              <%= @promotion.expiration_date.strftime("%d/%m/%Y") %>
            </span>
          </div>

          <div class="row mb-3">
            <h5 class="attribute_camp mr-4">
              <%= Promotion.human_attribute_name(:coupon_quantity) %>:
            </h5>
            <span class="attribute_value">
              <%= @promotion.coupon_quantity %>
            </span>
          </div>

          <div class="row mb-3">
            <% if @promotion.coupons.empty? %>
              <%= link_to t('buttons.update_promotion'), edit_promotion_path(@promotion),
                                                         class:"btn btn-info float-right mr-2" %>
              <%= link_to t('.generate_coupons'), generate_coupon_promotion_path(@promotion),
                                                  method: :post,
                                                  class:"btn btn-success float-right" %>
            <% end %>
          </div>

          <%= link_to t('buttons.back'), promotions_path, class:"btn btn-secondary float-right" %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'coupons_list'%>
