<!DOCTYPE html>
<html>
  <head>
    <title>PromotionSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
 </head>

  <body>
    <% flash.each do |attr, mensagem| %>
      <%= content_tag :div, mensagem %>
    <% end %>

    <%= yield %>
  </body>
</html>
